main {
    max-height: 90vh;
    margin-left: 7vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

h1 {
    font-size: 2.3rem;
}

.card {
    width: 30vw;
    height: 30vh;
    background-color: #bdeaff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

#yellow {
    background: linear-gradient(45deg, #ffb803a5 60%, #ffd260a5 40%);
}

#red {
    background: linear-gradient(45deg, #fb8500a5 60%, #ffba6ba5 40%);
}

#blue {
    background: linear-gradient(45deg, #219ebca5 60%, #75cde3a5 40%);
}

#dark {
    background: linear-gradient(45deg, #1d7faca5 60%, #8ecae6a5 40%);
}