<main>
  <div class="chart-block">
    <h1>Knowlage score</h1>
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  </div>
  <div class="person">
    <div id="avatar">
      <img src="../../../assets/avatar.png" alt="avatar">
    </div>
    <h1 id="name">{{ username }}</h1>
    <button (click)="logout()">Logout</button>
  </div>
</main>