<main class="home">
    <h1 id="hello">Hello!</h1>
    <div class="posts">
        <div class="post">
            <h4>Knowlage</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, molestiae consequuntur? Beatae sit, dolore iure magnam odio ullam voluptas id.</p>
        </div>
        <div class="post">
            <h4>Curiosity</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit animi molestiae accusantium qui, totam rem deleniti incidunt quasi saepe maiores.</p>
        </div>
    </div>
</main>
<footer>
    <ul class="footer-nav">
        <li><a routerLink="/knowlage">know</a></li>
        <li><a routerLink="/wonder">wonder</a></li>
        <li><a routerLink="">about</a></li>
    </ul>
</footer>

